menu "Diag Support"

config DIAG_CHAR
	tristate "char driver interface and diag forwarding to/from ARM9"
	default m
	depends on USB_ANDROID_DIAG || USB_FUNCTION_DIAG
	depends on ARCH_MSM
	help
	 Char driver interface for diag user space and diag-forwarding to modem ARM and back.

config SLATE_TEST
	bool "SLATE command support"
	default y
	depends on DIAG_CHAR
	help
	 Support SLATE command by diag.
endmenu
